// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// OnePlanet
$darkestgreen: #276a4f;
$darkgreen: #338d69;
$green: #46c190;
$grey: #C4C4C4;
