.discover-page-scroll{
 position: fixed;
  top: 205px;
  bottom: 80px;
  left: 0;
  right: 0;
  overflow: auto;
  margin-left: 5px;
  margin-right: 7px;

}

.challenges-index-scroll-index {
  overflow-x: auto;
  display: flex;
  flex: 1;
  position: relative;
  overflow-y: hidden;
}

.challenge-index-card {
    width: 185px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 6px;
    margin: 1rem 0;
    padding: 0;
    margin-left: 3px;
    margin-right: 1px;
    // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.icon-index{
  height: 17px;
  margin-bottom: 8px;
  margin-left: 3px;
}

// .slider-challenge-index{
//    width: 20%;
//   justify-content: left;
//   margin: 0 auto;
//}

// Checkboxes design
.category-choice-index {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: -20px;
}

.category-choices {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  padding: 5px 5px;
  background-color: #FFFFFF;
  border-radius: 40px;
  border: solid $dark-gray 2px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  margin-bottom: 10px;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: #46C190;
  color: white;
  border: solid $green 2px;
  opacity: 1;
  }
}

.top-25{
  top: 25%;
  overflow-x: hidden;
  margin-right: -6px;
}
