// Journey tab

.logo-journey-start {
  height: 60px;
  position: absolute;
  left: -15px;
}

.card-journey-connection {
  height: 50px;
  border-left: 3px dashed rgba(70, 193, 144, .5);
}


.card-journey-connection .start {
  height: 50px;
  border-left: 3px dashed rgba(70, 193, 144, .5);
  position: relative;
}

.card-journey {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  background-color: $green;
  padding: 8px 16px;
  // border: 2px solid rgba(230, 230, 230, 1);
  height: 100px;
  color: white;
  border-radius: 5px;
}

.card-journey .card-journey-content {
  flex-grow: 1;
  // padding: 0 24px;
}

.card-journey-content p {
  margin: 0;
  line-height: 1.4;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.card-journey-content .p-title {
  margin: 0;
  line-height: 1.4;
  color: white;
  font-weight: 600;
}

.card-journey-content .p-greenpoints {
  margin: 0;
  // line-height: 1.4;
  color: white;
  font-weight: 300;
  font-size: 30px;
}

.greenpoints {
  height: 30px;
}

// Challenges Tab

h1.challenges {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  padding-left: 4px;
  padding-top: 10px;
}
