// Journey tab

.logo-journey-start {
  height: 60px;
  position: absolute;
  left: -15px;
}

.card-journey-connection {
  height: 50px;
  border-left: 3px dashed rgba(70, 193, 144, .5);
}


.card-journey-connection .start {
  // height: 50px;
  // border-left: 3px dashed rgba(70, 193, 144, .5);
  position: relative;
}

.card-journey {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  background-color: $green;
  padding: 8px 16px;
  // border: 2px solid rgba(230, 230, 230, 1);
  height: 100px;
  color: white;
  border-radius: 5px;
  position: relative;
}

.card-journey .card-journey-content {
  flex-grow: 1;
  // padding: 0 24px;
}

.card-journey-content p {
  margin: 0;
  line-height: 1.4;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.card-journey-content .p-title {
  margin: 0;
  line-height: 1.4;
  color: white;
  font-weight: 600;
}

.card-journey-content .p-greenpoints {
  margin: 0;
  // line-height: 1.4;
  color: white;
  font-weight: 300;
  font-size: 30px;
}

.greenpoints {
  height: 30px;
}

.card-event-company-connection {
  height: 30px;
  border-left: 3px dashed rgba(70, 193, 144, .5);
}

.journey-img img {
  height: 80px;
  border-radius: 5px;
  position: absolute;
  right: 5px;

}



// Challenges Tab

h1.challenges {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 9px;
  padding-top: 10px;
}

h1.challenges.suggested {
  margin-top: 10px;
}

.challenges-scroll {
  position: fixed;
  top: 175px;
  bottom: 80px;
  left: 0;
  right: 0;
  overflow-x: auto;

}

.challenges-scroll-index {
  position: fixed;
  top: 185px;
  bottom: 84px;
  margin-right: -3px;
  margin-left: 5px;
  //left: 0;
  //right: 0;
  overflow: auto;
  overflow-x: hidden;
}

.challenges-scroll-dashboard {
  position: fixed;
  top: 175px;
  bottom: 84px;
  left: 0;
  right: 0;
  overflow: auto;
}

.challenges-scroll-journey {
  padding: 12px;
  position: fixed;
  top: 180px;
  bottom: 80px;
  left: 0;
  right: 0;
  overflow: auto;
}



.challenge-step-content {
  max-width: 300px;
}

.request-info {
  color: rgba(70,193,144, 0.8);
  position: absolute;
  z-index: 4;
  right: 95px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Open Sans";
  top: 98px;
}

.challenge-card-icon {
  height: 22px;
  margin-left: 10px;
}

.take-on-new {
  background-color: #F8F9FA;
  border-radius: 6px;
  padding-bottom: 15px;
}

.completed-congrats-new {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 21px;
  background-color: #F8F9FA;
  border-radius: 6px;
  padding: 17px 15px;
  margin: auto 18px;
  color: $darkestgreen;
}

.img-encouraging-planet {
  height: 100px;
  margin-left: 128px;
}

