// Specific CSS for your home-page
.logo {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  font-size: 45px;
  color: $darkestgreen;
  margin-bottom: 0;
}

.home {
  background-color: #FDFBF1;
}

.text-home {
    height: 431px;
    padding-bottom: 3%;
}

.tagline {
  font-size: 19px;
}

.text-detail {
  font-weight: 100;
  width: 80%;
  text-align: center;
}
