// Specific CSS for your home-page
.logo {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 900;
  font-size: 35px;
  color: $darkestgreen;
}

.container_home {
  background-color: #EDEBE1;
}
