// Specific CSS for your home-page
.logo {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  font-size: 45px;
  color: $darkestgreen;
}

.home {
  background-color: #FDFBF1;
}

.text-home {
    height: 431px;
    padding-bottom: 3%;
}
