.input-field-post {
  border: 2px solid $green;
  width: 80%;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.header-post {
  display: inline-block
}

.title-post {
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 20px;
  color: black;
}

.bar-post-wrap {

}

.bar-post {

}

