.form-quiz {

}

.label-quiz {

}

.title {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  font-size: 34px;
  text-align: center;
  margin-top: 20px;
  color: $darkestgreen;
  margin-bottom: 0;
}
