.little_logo {
  width: 50px;
}

.greenp_logo {
  width: 40px;
}

.container_small {
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

// .container_main {
//   text-align: center;
//   width: 80%;
// }

.text {
  font-weight: 100;
  width: 80%;
  text-align: center;
  margin: 0 auto;

}

.bold_text {
  font-weight: 600;
}

.text_center {

  text-align: center;
  font-size: 20px;
}

.text_final {
  font-size: 25px;
  text-align: center;
  font-weight: 600;

}

.container-result {
  margin-top: 20px;
}

.answer_text {
  font-size: 20px;
}

.fa-info-circle {
  width: 20px;
  color: $gray;
}

.info-point {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
}
