.little_logo {
  width: 70px;
}

.container_small {
  text-align: center;
}

// .container_main {
//   text-align: center;
//   width: 80%;
// }

.text {
  font-weight: 100;
  width: 80%;
  text-align: center;
  margin: 0 auto;

}

.bold_text {
  font-weight: 600;
}

.text_center {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}

.text_final {
  font-size: 25px;
  text-align: center;
  font-weight: 600;

}

