
<div class="row">
  <div class="col-6">
      <div class="challenge-card">
        <div class="challenge-card-image" style="background-image: url(https://images.unsplash.com/photo-1507035895480-2b3156c31fc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
        <div class="challenge-card-content">
            <!-- if statement & checkbox image -->
          <div class="challenge-card-title">
            <p class="category-tag">Mobility<i id="challenge-category-icon" class="fas fa-bicycle"></i></p>
            <h4>Challenge Title</h4>
            <div class="challenge-tags">
              <div class="challenge-tag-pair">
                <p><i class="fas fa-trophy"></i> 1</p>
              </div>
              <div class="challenge-tag-pair">
                <p><i class="fas fa-stopwatch"></i> 1</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<br>

<div class="row">
  <div class="col-6">
      <div class="category-card">
        <div>
          <%= image_tag "fashion.jpg", class: "category-card-image" %>
        </div>
        <div class="category-card-content">
          <!-- if statement & checkbox image -->
          <div class="category-card-title">
            <h4>Fashion</h4>
            <i class="fas fa-gift"></i>
          </div>
        </div>
      </div>
    </div>
</div>
