<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3 class="text-center">Yay - now it’s only about your interests and then we are ready to GO!</h3>
      <h3>3. Your interests</h3>
      <p>We also select challenges based on your favorite categories, Pick 3 or more where you would like to start your journey:</p>
      <div class="row">
        <div class="col-6">
          <div class="category-card">
            <div>
              <%= image_tag "fashion.jpg", class: "category-card-image" %>
            </div>
            <div class="category-card-content">
              <!-- if statement & checkbox image -->
              <div class="category-card-title">
                <h4>Fashion</h4>
                <i class="fas fa-gift"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="category-card">
            <div>
              <%= image_tag "food.jpg", class: "category-card-image" %>
            </div>
            <div class="category-card-content">
              <!-- if statement & checkbox image -->
              <div class="category-card-title">
                <h4>Food</h4>
                <i class="fas fa-gift"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="category-card">
            <div>
              <%= image_tag "energy.jpg", class: "category-card-image" %>
            </div>
            <div class="category-card-content">
              <!-- if statement & checkbox image -->
              <div class="category-card-title">
                <h4>Energy</h4>
                <i class="fas fa-gift"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="category-card">
            <div>
              <%= image_tag "investment.jpg", class: "category-card-image" %>
            </div>
            <div class="category-card-content">
              <!-- if statement & checkbox image -->
              <div class="category-card-title">
                <h4>Investment</h4>
                <i class="fas fa-gift"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form action="/dashboard">
        <button id="" class="btn customgreen">Submit</button>
      </form>
    </div>
  </div>
</div>


