<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3 class="text-center">Yay - now it’s only about your interests and then we are ready to GO!</h3>
      <h3>3. Your interests</h3>
      <p>We also select challenges based on your favorite categories, Pick 3 or more where you would like to start your journey:</p>
      <form action="/dashboard">
          <button id="" class="btn customgreen">Submit</button>
        </form>
    </div>
  </div>
</div>

