<div class="container container-about">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="copyright text-center">This app is made with <i class="fas fa-heart"></i> at Le Wagon</div>
<!-- About the app -->
<div class="container">
        <p class="title-about">Why OnePlanet?</p>
        <div class="container-about-small text-justify">
          <p>We are a group of passionate environmentalist who care about our Earth and would like to contribute to reducing our overall footprint in a way that speaks to all</p>
        </div>
</div>

<!-- Sources -->
<div class="container">
        <p class="title-about">We would like to thank & give credits to our sources</p>
        <div class="container-about-small">
          <p>Most of our Icons are from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
          <p>Our logo was made with the wonderful <a href="https://www.vecteezy.com" title="Vecteezy">www.vecteezy.com</a></p>
          <p>Our Earths equivalent calculation per country comes from <a href="http://data.footprintnetwork.org" title="Ecological Footprint Network">www.data.footprintnetwork.org</a></p>
          <p>Our Earths equivalent calculation per country comes from <a href="http://data.footprintnetwork.org" title="Ecological Footprint Network">www.data.footprintnetwork.org</a></p>
        </div>
</div>
 <%= link_to "Back to Dashboard", dashboard_path, class: "btn custom" %>

    </div>
  </div>
</div>
