<div class="profile-header">
  <div class="thumbnail">
    <%= cl_image_tag current_user.image, class: "avatar-profile" %>
  </div>
    <h1 class="h1-profile-wm">Welcome <%= current_user.first_name %>!</h1>
    <% if current_user.money_level.nil? %>
      <%= link_to edit_user_path(current_user), class: "request-info" do %>
        <i class="fas fa-lightbulb ml-3"></i> Complete registration
      <% end %>
    <% elsif current_user.user_interests.empty? %>
    <%= link_to new_user_interest_path(current_user), class: "request-info" do%>
        <i class="fas fa-lightbulb ml-3"></i> Fill in your interests
      <% end %>
    <% end %>
</div>

<!-- <div class="Panel"> -->
