<div class="profile-header">
  <div class="thumbnail">
    <%= cl_image_tag current_user.image, class: "avatar-profile" %>
    <h1 class="h1-profile-wm">Welcome <%= current_user.first_name %>!</h1>
    <% if current_user.money_level.nil? %>
      <%= link_to "Finish registration", edit_user_path(current_user) %>
    <% elsif current_user.user_interests.empty? %>
    <%= link_to "Fill in your interests", new_user_interest_path(current_user) %>
      <% end %>
</div>
<div class="Panel">
