  <p class="challenge-description"><%= @challenge.content %></p>
  <h4 class="challenge-steps-title">Steps to completion</h4>
  <div class="div-steps">
    <% @challenge.challenge_steps.each_with_index do |step, index|  %>
      <% unless step.content.nil? %>
        <div class="d-flex">
          <div class="challenge-step mr-2"><%= index + 1 %></div>
          <p class="challenge-step-content"><%=  step.content %></p>
        </div>
      <% end %>
    <% end %>
  </div>

   <%= button_to "Challenge Accepted", challenge_user_challenges_path(@challenge), method: :post, :form => { :id => "challenge-accepted-sweet"}, class: "btn custom"%>



