.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.breakpoint {
  display: none;
}

@media screen and (min-width: 450px) {
  .breakpoint {
    display: block;
    background-color: white !important;
  }
}
