
.btn.custom {
  background-color: $green;
  color: white;
  border-radius: 6px;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  font-weight: 600;
  display: block;
  &:hover {
    opacity: 0.7;
  }
}

.btn.custom.community {
  background-color: $white;
  border: 1px solid $green;
  color: $green;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
  &:hover {
    border: 1px solid $green;
    background-color: $green;
    color: $white;
    font-weight: 600;
  }
}


.btn.custom.grey {
  background-color: $light-gray;
  color: white;
  width: 80%;
  margin: 0 auto;
  display: block;
  &:hover {
    opacity: 0.7;
  }
}

.btn-search {
  font-weight: 600;
  color: $darkgreen;
  font-size: 18px;
  margin-left: 5px;
}


.btn-index {
  background-color: $green;
  color: white;
  width: 150px;
  &:hover {
    opacity: 0.7;
  }
}

.button_to {
  background-color: white;
}

.btn.challenge.index {
  font-weight: 600;
  color: $darkgreen;
  font-size: 16px;
}
