
.btn.custom {
  background-color: $green;
  color: white;
  border-radius: 6px;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  font-weight: 600;
  display: block;
  &:hover {
    opacity: 0.7;
  }
}



.btn.custom.grey {
  background-color: $light-gray;
  color: white;
  width: 80%;
  margin: 0 auto;
  display: block;
  &:hover {
    opacity: 0.7;
  }
}


.btn-index {
  background-color: $green;
  color: white;
  width: 150px;
  &:hover {
    opacity: 0.7;
  }
}

.button_to {
  background-color: white;
}
