// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "buttons";
@import "signup";
@import "card-challenge";
@import "card-category";
@import "slider";
@import "dashboard-tabs";

@import "setting";

@import "dashboard-card";
@import "checkboxes";


a {
  text-decoration: none;
  color: black;
  &:active {
    color: $green;
    text-decoration: none;
  }
  &:hover {
    color: $green;
    text-decoration: none;
  }
  // &:visited {
  //   color: $green;
  //   text-decoration: none;
  // }

}

