.setting {
  width: 20px;
  // position: absolute;
  // top: 30px;
  // margin-left: 30px;
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  padding-right: 10px;
}

.wheel i {
  font-size: 20px;
  color: $light-gray;
}
