.signup{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  color: $darkestgreen;
  font-family: 'Noto Sans TC', sans-serif;
  margin-top: 20px;
}


.signup-header{
  width: 75%;
  margin: 10px auto;
  font-family: 'Noto Sans TC', sans-serif;
}

.container{
  margin-top: 40px;
}

.form-page {
  height: 50vh;
}

.signup.form-inputs{
  margin-top: auto;
  color: $gray;
}

.form-p{
 text-align:justify;
}

.icons{
  height: 30px;
  margin-right: 9px;
  margin-left: 16px;
}

.icons.first{
  height: 30px;
  margin-right: 9px;
  margin-left: 50px;
  margin-top: 10px;
}



