.signup{
  width: 80%;
  margin: 0 auto;
}

.signup-header{
  width: 75%;
  margin: 10px auto;
}

.container{
  margin-top: 40px;
}

.form-page {
  height: 50vh;
}

//.form-p{
 // margin: 2rem 0;
//}

.icons{
  height: 30px;
  margin-right: 9px;
  margin-left: 16px;
}

.icons.first{
  height: 30px;
  margin-right: 9px;
  margin-left: 50px;
  margin-top: 10px;
}

