.signup{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  color: $darkestgreen;
  font-family: 'Noto Sans TC', sans-serif;
  margin-top: 20px;
}

.progress{
  border-radius: 50px;
}

.preferences-row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 20px;
}

.category-checkbox{
  margin-bottom: 10px;
}

.signup-header{
  width: 75%;
  margin: 10px auto;
  font-family: 'Noto Sans TC', sans-serif;
}

.container-signup {
  margin-top: 40px;
}

.form-signup{
  margin-top: 25px;
  color: $gray;
}

.form-p{
 text-align:justify;

}

.icons{
  height: 30px;
  margin-right: 9px;
  margin-left: 16px;
}

.icons.first{
  height: 30px;
  margin-right: 9px;
  margin-left: 50px;
  margin-top: 10px;
}



